# docker-compose.yml

services:
  # Serviço do Banco de Dados (MySQL)
  db:
    image: mysql:8.0
    container_name: erp_db_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    ports:
            - '3307:3306'
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - erp-network

  # Serviço da Aplicação (PHP)
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: erp_app_php
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    networks:
      - erp-network

  # Serviço do Servidor Web (Nginx)
  nginx:
    image: nginx:alpine
    container_name: erp_web_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - erp-network

# Redes e Volumes
networks:
  erp-network:
    driver: bridge

volumes:
  db_data:
    driver: local
